
h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
}

h2 {
    font-family: Courier New, Courier, monospace;
    font-size: 16px;
}

p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
    background-color: black;
    padding: 10px;
}
header {
    text-align: left;
    
    padding: 10px;
    margin: 0;
    
    background-color: darkslateblue;
    
    color: white;
    
}

nav a {
    color: silver;
    text-decoration: dashed;
    margin-left: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    
}
main {
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

footer{
    text-align: center;
    width: 100%;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid silver;

    background-color: #1e2a2a;
    color: silver;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif
}

th, td {
    border: 1px solid silver;
    padding: 8px;

    background-color: darkslateblue;
    color: white;
}

th {
    font-weight: bold;
    
}

ul {
    list-style-type: circle;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
form {
    margin: 10px;
    padding: 10px;
}
input {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid silver;
}
/*
input[type="submit"]  {
    padding: 10px;
    margin: 10px;
    
    border-radius: 10px;
    border: 1px solid silver;
    
    background-color: silver;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: black;
}

input[type="submit"]:hover {
    background-color: slateblue;
}
*/
label {
    font-weight: bold;
    font: bold 15px "Courier New", Courier, monospace;
}


section {
    border-radius: 10px;
    border: 1px solid silver;
    
    padding: 10px;
    margin: 10px;
    
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}
article {
    border-radius: 10px;
    border: 1px solid silver;
    
    padding: 10px;
    margin: 10px;
    
    background-color: darkslategrey;
    color: white;
}

